
<div class="container is-flex is-flex-direction-column is-align-items-center">
    <section class="has-text-centered my-5 mx-2">
      <h1 class="title is-3">¡Bienvenido a AcademyTrack!</h1>
      <p class="subtitle is-5">Una herramienta diseñada para ayudarte a planificar tu avance académico.</p>
    </section>
  
    <section class="has-text-centered mx-4 mb-5">
      <div class="box p-6">
        <p class="content is-normal">
          En esta aplicación podrás visualizar todas las materias de la carrera, organizadas por año y semestre. 
          A medida que avances, podrás actualizar el estado de cada materia, marcarla como en curso, regularizada o aprobada.
        </p>
        <p class="content is-normal">
          Además, la aplicación te mostrará automáticamente qué materias están habilitadas para cursar según las correlativas cumplidas.
        </p>
        <p class="content is-normal">
          ¡Comienza ahora y lleva un seguimiento de tu progreso académico!
        </p>
      </div>
    </section>
  
    <section class="is-flex is-justify-content-center is-align-items-center mt-3">
      <div *ngIf="mostrarBotonInicio" class="boxSelect mb-5 px-6">
        <div class="field">
          <label class="label">Selecciona tu carrera:</label>
          <div class="control">
            <div class="select">
              <select [(ngModel)]="selectedCarrera">
                <option value="" disabled selected>Elegi una carrera</option>
                <option *ngFor="let carrera of carreras" [value]="carrera">{{ carrera }}</option>
              </select>
            </div>
          </div>
        </div>

        <button class="button is-info is-medium is-rounded mt-4" [disabled]="!selectedCarrera" (click)="iniciar()">Iniciar</button>
      </div>
      
      <div *ngIf="!mostrarBotonInicio" class="mb-5">
        <button class="button is-primary is-medium is-rounded" routerLink="/seguimiento">Ver Materias</button>
      </div>
    </section>
  </div>
